<div class="landing-page">
    <div class="header-section">
        <div class="titles">
            <h4 class="titles-name" (click)="onClickHome()">{{homeName}}</h4>
            <div>
                <h4 class="titles-name" (click)="onClickLogin()">{{loginTitle}}/{{signUp}}</h4>
            </div>
        </div>
    </div>
    <div class="spinner-size" *ngIf="isLoading == true">
        <mat-spinner diameter=50></mat-spinner>
    </div>
    <div class="body-section" *ngIf="isLoading == false">
        <p class="description">{{landingpageDes}}</p>
        <div class="total-books">
            <div *ngFor="let book of allBooks" class="each-book">
                <img class="book-img" src={{book.bookImg}}>
                <p class="book-name">{{book.bookname}}</p>
                <button class="read-button" (click)="read($event)" id={{book._id}}>{{readButtonName}}</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <share-buttons theme="circles-dark" [include]="[ 'facebook', 'email','linkedin','twitter', 'whatsapp']" [showIcon]="true" [showText]="true" url="www.google.com" description="Open book Library" class="pt-5">
        </share-buttons>
    </div>


</div>