.landing-page {
    background-size: cover;
    width: 100vw;
    position: relative;
    background-color: #fff;
}

.titles {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding-top: 1%;
}

.header-section {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}

.titles-name {
    color: black;
    font-size: 16px;
    margin-left: 3rem;
    margin-right: 3rem;
}

.titles-name:hover {
    color: black;
    cursor: pointer;
    font-size: 16px;
}

h4:hover {
    cursor: pointer;
}

.body-section {
    margin-top: 30px;
}

.heading {
    text-align: center;
    color: #fff;
}

.description {
    font-size: 16px;
    margin-left: 10px;
    font-style: italic;
    text-align: center;
    color: #fff;
    font-size: 24px;
}

.total-books {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.each-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 250px;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
    padding-bottom: 20px;
}

.each-book:hover {
    transform: scale(1.1);
    height: auto;
    cursor: pointer;
    transition: all 400ms linear;
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.book-img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.book-name {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 24px;
}

.read-button {
    width: 80px;
    height: 30px;
    background-color: rgba(37, 99, 235);
    border: none;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
}

.footer {
    padding-top: 10px;
    background-color: rgb(65, 66, 70);
    height: 50px;
    border-radius: 2px;
}

.spinner-size {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}