<div class="profile-update-section">
    <button class="back-button" (click)="backbutton()">{{back}}</button>
    <div class="profile-update">
       
    <div class="spinner-size" *ngIf="isLoading == true">
        <mat-spinner  diameter=50></mat-spinner>
    </div>

    <div class="form-section" *ngIf="isLoading == false">
        <h1 class="title">
            {{title}}
        </h1>
        <span class="sapn-element">{{firstnameTitle}}</span>
        <input [ngClass]="(firstNameError)?'input-element-error':'input-element'" placeholder="firstname" [(ngModel)]="firstName">
        <span class="error-message" *ngIf="firstNameError">{{firstnameMsg}}</span>
        <span class="sapn-element">{{lastnameTitle}}</span>
        <input [ngClass]="(secondNameError)?'input-element-error':'input-element'"  type="text" [(ngModel)]="secondName" placeholder="lastname"/>
        <span class="error-message" *ngIf="secondNameError">{{secondErrorMsg}}</span>
        <span class="sapn-element">{{emailName}}</span>
        <input [ngClass]="(emailError)?'input-element-error':'input-element'" type="email" [(ngModel)]="email" placeholder="email">
        <span class="error-message" *ngIf="emailError">{{emailErrorMsg}}</span>
        <span class="sapn-element">{{passwordName}} </span>
        <input [ngClass]="(passwordError)?'input-element-error':'input-element'"  type="password" [(ngModel)]="password" placeholder="password"/>
        <span class="error-message" *ngIf="passwordError">{{passwordErrorMsg}}</span>
        <div *ngIf="password.length>0 && 8 >password.length" class="password-error-mssage">
            <p class="error">Passwords must be at least 8 characters long.</p>
            <p class="error">Uppercase characters (A-Z)</p>
               <p class="error"> Lowercase characters (a-z)</p>
               <p class="error"> Digits (0-9)</p>
               <p class="error"> Special characters()</p>
        </div>
        <span class="sapn-element">{{confirmPasswordName}}</span>
        <input [ngClass]="(confirmPasswordError)?'input-element-error':'input-element'"  type="password" [(ngModel)]="confirmPassword" placeholder="password"/>
        <span class="error-message" *ngIf="confirmPasswordError">confirmPasswordErrorMsg</span>
        <div class="button-section"> 
        <button class="signup-bitton" (click)="onUpdate()">{{updateButton}}</button>

    </div>
</div>
</div>