.profile-update-section {
    width: 100vw;
    height: 100vh;
    background-color: azure;
    padding:20px;
    background-image: url("https://images.pexels.com/photos/4065864/pexels-photo-4065864.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
}
.profile-update {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 32px;
    font-style: italic;
    color: rgb(173, 230, 17);
    text-align: center;
    margin-bottom:30px;
}
.form-section {
    width:300px;
    border-radius: 5px;;
    display: flex;
    flex-direction: column;
    padding:60px;
    padding-top: 30px;;
    margin-top:30px;
    background-color: #fff;
    box-shadow: 5px 10px 18px #888888;
    
}
.back-button {
    width:100px;
    height: 30px;
    background-color: rgb(65, 196, 25);
    text-align: center;
    border-radius: 40px;
    color: #fff;
    border:0px;
    margin-top:30px;
    font-size: 18px;
}
.back-button:hover {
    cursor: pointer;
}

.input-element {
    width:300px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 6px;
    margin-bottom: 10px;
    font-size: 16px;
}
.sapn-element {
    color:gray;
    font-size: 16px;
}
.button-section {
    margin-top: 20px;
    text-align: center;
}

.signup-bitton {
    width:100px;
    height: 30px;
    border-radius: 20px;
    background-color: indigo;
    border: 0px;
    color: white;
    
}
.signup-bitton:hover{
    cursor: pointer;
}
.spinner-size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;

}

.input-element-error {
    width:300px;
    height: 30px;
    border: 2px solid red;
    border-radius: 10px;
    margin-top: 6px;
}
.error-message {
    margin:0px;
    font-size: 8px;
    color: red;
}