<div class="add-book-section">
    <button class="back-button" (click)="backbutton()">{{back}}</button>
    <div class="add-book">
    <h1 class="title">
        {{title}}
    </h1>
    <div class="form-section">
        <p class="book-name">{{bookNameTtle}}</p>
        <input type="text" [ngClass]="(bookNameError)?'input-error':'input'" [(ngModel)]="bookName">
        <span class="error-message" *ngIf="bookNameError">{{bookNameErrorMsg}}</span>
        <p class="book-type">{{bookTypeTitle}}</p>
        <select [ngClass]="(bookTypeError)?'input-error':'input'"  [(ngModel)]="bookType">
            <option   value="tech">Technical</option>
            <option    value="non-tech">Non-Technical</option>
            <option   value="business">Business</option>
            <option   value="kids">kids</option>
            <option   value="thrillers">Thrillers</option>
        </select>
        <span class="error-message" *ngIf="bookTypeError">{{bookTypeErrorMsg}}</span>
        <p class="pdf-name">{{imageUrlTitle}}</p>
        <input type="file" class="image-input"
       (change)="onImageSelected($event)" #fileUpload>
        <span class="error-message" *ngIf="bookImgError">{{imageUrlErrorMsg}}</span>
        
        <p class="pdf-name">{{pdfLinkTitle}}</p>
        <input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>
        <span class="error-message" *ngIf="pdfLinkError">{{pdfErrorMsg}}</span>
        <span *ngIf="fileSize" class="file-size">{{fileTitle}}</span>
        <div class="spinner-size" *ngIf="isLoading == true">
            <mat-spinner  diameter=30></mat-spinner>
        </div>
        <div class="button-section" *ngIf="isLoading == false">
        <button class="submit-button" (click)="onSubmit()">{{submitButtontitle}}</button>
    </div>
    </div>
</div>
</div>
