.add-book-section {
    background-color: azure;
    height: 100vh;
    padding:20px;
    background-image: url("https://images.pexels.com/photos/2846814/pexels-photo-2846814.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;

}
.back-button {
    width:100px;
    height: 30px;
    background-color: rgb(140, 182, 206);
    text-align: center;
    border-radius: 40px;
    color: rgb(59, 63, 23);
    border:0px;
    font-size: 16px;
}
.back-button:hover {
    cursor: pointer;
}
.add-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.title {
    font-size: 24px;
    color:rgb(36, 95, 163);
}
.form-section {
    width:300px;
    border-radius: 10px;;
    display: flex;
    flex-direction: column;
    padding:50px;
    background-color: #fff;
    box-shadow: 5px 10px 18px #888888;
    
}
.book-name {
    font-size: 16px;
    color: rgb(87, 78, 78);
    margin:0px;
}
.pdf-name {
    font-size: 16px;
    color: rgb(87, 78, 78);
    margin:0px;
    margin-bottom: 10px;;
}
.book-type {
    font-size: 16px;
    color: rgb(87, 78, 78);
    margin:0px;
}
.input {
    width:100%;
    height:30px;
    border-radius: 5px;
    border:1px solid rgb(87, 78, 78);
    margin-top:10px;
    margin-bottom:10px;
}
.select {
    width:100%;
    height:30px;
    border-radius: 5px;
    border:1px solid rgb(87, 78, 78);
    margin-top:10px;
}
.button-section {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.submit-button {
    width:100px;
    height: 30px;
    background-color: rgb(41, 96, 160);
    color: #fff;
    border:0px;
    border-radius: 10px;
    
}
.submit-button:hover {
    cursor: pointer;
}
.input-error {
  
        width:100%;
        height:30px;
        border-radius: 5px;
        border: 2px solid red;
        margin-top:10px;
}
.error-message {
    margin:0px;
    font-size: 8px;
    color: red;
}
.spinner-size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.file-size {
    color:red;
    margin-top:5px;
}
.image-input {
    margin-bottom: 20px;
}