<div class="login-container">
    <h1 class="login-heading ">{{loginTitle}}</h1>
    <div class="form-container">
        <span class="sapn-element">{{emailName}}</span>
        <input [ngClass]="(emailError)?'input-element-error':'input-element'" type="email"  [(ngModel)]="email" placeholder="Email">
        <span class="error-message" *ngIf="emailError">{{emailErrorMsg}}</span>
        <span class="sapn-element">{{passwordName}}</span>
        <input [ngClass]="(passwordError)?'input-element-error':'input-element'" type="password" [(ngModel)]="password" placeholder="Password">
        <span class="error-message" *ngIf="passwordError">{{passwordErrorMsg}}</span>
        <div class="button-section" *ngIf="isLoading == false">
        <button class="login-bitton" (click)="onClickLogin()">{{loginTitle}}</button>
    </div> 
    <!-- <div class="button-section" *ngIf="isLoading == false">
        <button class="signup-bitton" (click)="onClickGoogle()">{{googleLogin}}</button>
    </div >  -->
    <div class="spinner-size" *ngIf="isLoading == true">
        <mat-spinner  diameter=50></mat-spinner>
    </div>
    <p class="footer">{{signUpMsg}}<a class="link" routerLink='/signup'>{{signUp}}</a></p>
</div>
</div>
