.book-container {
    background-color:rgb(233, 218, 218);
    width: 100vw;
    height: 100vh;
   padding-top: 40px;
   
}
.book-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book-title {
    font-size: 32px;
    font-style: italic;
}
.spinner-size {
    margin-top:5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
   
}
.back-button {
    width:100px;
    height: 30px;
    background-color: rgb(140, 182, 206);
    text-align: center;
    border-radius: 40px;
    color: rgb(59, 63, 23);
    border:0px;
    font-size: 16px;
    margin-left: 20px;
    color: #fff;
}
.back-button:hover {
    cursor: pointer;
}
.pdf {
    width: 70%; 
    height: 80vh;
    border:1px solid gray;
    
}
.pdf:hover {
    cursor: pointer;
}
.header{
    display: flex;
    justify-content: space-between;
}
.download {
    color: #fff;
    background-color: rgb(140, 182, 206);
    text-align: center;
    border:0px;
    font-size: 16px;
    margin-right: 20px;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    
}