<div class="book-container">
    <div class="header">
    <button class="back-button" (click)="backbutton()">{{backName}}</button>
    <a class="download" href="{{bookPdf}}" (click)="toDownloadBook()">Download</a>
</div>


    <div class="spinner-size" *ngIf="isLoading == true">
        <mat-spinner  diameter=50></mat-spinner>
    </div>
    <div class="book-info" *ngIf="isLoading == false">
    <h1 class="book-title">{{booktitle}}</h1>
    <pdf-viewer [src]="bookPdf" id="pdf" [render-text]="true" [original-size]="false" [show-all]="true" [external-link-target]="'blank'" class="pdf" > 
    </pdf-viewer>
</div>
</div>
