.signup-heading {
    color:#fff;
    font-size: 44px;
    margin-bottom: 30px;
}
.sign-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: azure; */
    height: 100vh;
    padding-top: 5%;
    background-image: url("https://images.pexels.com/photos/2846814/pexels-photo-2846814.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
}
.form-container {
    display: flex;
    flex-direction: column;
    width:300px;
    padding: 40px;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 20px;
    background-color: white;
}
.input-element {
    width:300px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 6px;
    margin-bottom: 10px;
    font-size: 12px;
    
}
.sapn-element {
    color:gray;
    font-size: 16px;
}
.button-section {
    margin-top: 20px;
    text-align: center;
}

.signup-bitton {
    width:100px;
    height: 30px;
    border-radius: 5px;
    background-color: #1565C0;
    border: 0px;
    color: white;
    
}
.footer {
    font-size: 12px;
    text-align: center;
    margin: 3px;
    color: gray;
}
.link {
    color:blue;
    margin-left: 5px;
         
}
a:hover {
    cursor: pointer;
}
.spinner-size {
    margin-top: 20px;
    width:100%;
    size:20px;
    display: flex;
    justify-content: center;
}
.password-error-mssage {
    font-size: 8px;
    margin:0px;
}
.input-element-error {
    width:300px;
    height: 30px;
    border: 2px solid red;
    border-radius: 10px;
    margin-top: 6px;
}
.error-message {
    margin:0px;
    font-size: 8px;
    color: red;
}

