<div class="sign-up-container">
    <h1 class="signup-heading">{{signUpTitle}}</h1>
    <div class="form-container">
        <span class="sapn-element">{{firstnameTitle}}</span>
        <input  [ngClass]="(firstNameError)?'input-element-error':'input-element'" placeholder="Firstname" [(ngModel)]="firstName">
        <span class="error-message" *ngIf="firstNameError">{{firstnameMsg}}</span>
        <span class="sapn-element">{{lastnameTitle}} </span>
        <input [ngClass]="(secondNameError)?'input-element-error':'input-element'" type="text" [(ngModel)]="secondName" placeholder="Lastname"/>
        <span class="error-message" *ngIf="secondNameError">{{secondErrorMsg}}</span>
        <span class="sapn-element">{{emailName}}</span>
        <input [ngClass]="(emailError)?'input-element-error':'input-element'" type="email" [(ngModel)]="email" placeholder="Email">
        <span class="error-message" *ngIf="emailError">{{emailErrorMsg}}</span>
        <span class="sapn-element">{{passwordName}} </span>
        <input [ngClass]="(passwordError)?'input-element-error':'input-element'" type="password" [(ngModel)]="password" placeholder="Password"/>
        <span class="error-message" *ngIf="passwordError">{{passwordErrorMsg}}</span>
        <div *ngIf="password.length>0 && 8 >password.length" class="password-error-mssage">
            <p class="error">Passwords must be at least 8 characters long.</p>
            <p class="error">Uppercase characters (A-Z)</p>
               <p class="error"> Lowercase characters (a-z)</p>
               <p class="error"> Digits (0-9)</p>
               <p class="error"> Special characters()</p>
        </div>
        <span class="sapn-element">{{confirmPasswordName}}</span>
        <input [ngClass]="(confirmPasswordError)?'input-element-error':'input-element'" type="password" [(ngModel)]="confirmPassword" placeholder="Confirmpassword"/>
        <span class="error-message" *ngIf="confirmPasswordError">{{econfirmPasswordErrorMsg}}</span>
        <mat-checkbox  [(ngModel)]="checked">{{termsAndCondtionsMsg}}</mat-checkbox>
    <div class="button-section" *ngIf="isLoading"> 
        <button class="signup-bitton"  (click)="onSubmitSignup()">{{signUpTitle}}</button>
     </div>
    <div class="spinner-size" *ngIf="isLoading == false">
        <mat-spinner  diameter=50></mat-spinner>
    </div>
    <p class="footer">{{signupAccount}}<a class="link" routerLink='/login'>{{login}}</a></p>
    </div>
</div>