.user-dashboard {
    background-color: white;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-dashboard-title {
    font-size: 32px;
    font-weight: bold;
    color: darksalmon;
}

.header-section {
    border-radius: 5px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-top: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.home {
    margin-left: 3rem;
}

.profile {
    margin-bottom: 10px;
    margin-right: 3rem;
    background-color: #F4828B;
}

.add-button-section {
    margin-top: 30px;
    margin-right: 10%;
    align-self: flex-end;
}

.add-button {
    width: 100px;
    height: 30px;
    border: 0px;
    border-radius: 5px;
    background-color: rgba(37, 99, 235);
    color: #fff;
}

.add-button:hover {
    cursor: pointer;
}

.header-titles {
    font-size: 16px;
    margin-top: 10px;
    height: 30px;
    color: black;
}

.header-titles:hover {
    color: black;
    cursor: pointer;
    height: 30px;
    font-size: 16px;
}

.navbar {
    display: flex;
    margin-top: 30px;
    width: 60%;
    justify-content: space-around;
    padding-bottom: 0px;
    background-color: #828bf4;
    color: rgb(5, 59, 146);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.nav-title {
    font-size: 16px;
    width: 300px;
    text-align: center;
    color: #fff;
}

.nav-title:hover {
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    transition: all 400ms linear;
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.all-books {
    margin-top: 30px;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.spinner-size {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: 100vh;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(121, 118, 118);
    text-align: center;
}

.my-books {
    margin-top: 30px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    border-radius: 20px;
}

.total-books {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.each-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 250px;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
    padding-bottom: 20px;
}

.each-book:hover {
    transform: scale(1.1);
    height: auto;
    cursor: pointer;
    transition: all 400ms linear;
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.book-img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.book-name {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 24px;
    text-align: center;
}

.button-section {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 2%;
}

.read {
    background-color: #828BF4;
}

.update {
    background-color: #00bba7;
}

.delete-book {
    background-color: #FF3F4A;
}

.button {
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
}

.button:hover {
    cursor: pointer;
}

.footer {
    /* margin-top: 20px; */
    width: 100%;
    padding-top: 10px;
    background-color: rgb(65, 66, 70);
    height: 50px;
    border-radius: 2px;
}

.empty-list {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: red;
}

.select {
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(87, 78, 78);
    margin-left: 20px;
}

.search-section {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}

.search {
    height: 30px;
    width: 60%;
    height: 100%;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(87, 78, 78);
}

.filter-section {
    display: flex;
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: end;
}

.search-sec {
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
}

.search-title {
    color: rgb(68, 99, 128);
    font-size: 16px;
}

.filter-title {
    color: rgb(68, 99, 128);
    font-size: 16px;
}

.search:hover {
    cursor: pointer;
}

.select:hover {
    cursor: pointer;
}

.nav {
    font-size: 18px;
    width: 300px;
    text-align: center;
    color: black;
    text-decoration: underline;
}

.book-length {
   height: 70vh;
}