<div class="user-dashboard">
    <div class="header-section">

        <p class="header-titles home" (click)="home()">{{homeName}}</p>

        <button class="profile" mat-fab color="primary" [matMenuTriggerFor]="menu" aria-label="Example icon button with a delete icon">
            {{profileName}}
        </button>

        <mat-menu #menu="matMenu">
            <button (click)="profileUpdate()" mat-menu-item>
              Profile
            </button>
            <button mat-menu-item (click)="logout()">
              Logout
            </button>
        </mat-menu>
    </div>
    <div class="search-section">
        <div class="search-sec">
            <span class="search-title">Search By</span>
            <input class="search" placeholder="search" (keydown.enter)="onChangeSearch($event)" [(ngModel)]="search" />
        </div>
        <div class="filter-section">
            <span class="filter-title">Filter By</span>
            <select class="select" (change)="typeOfBook()" [(ngModel)]="bookType">
            <option value="" [selected]="">All</option>
            <option value="tech">Technical</option>
            <option value="non-tech">Non-Technical</option>
            <option value="business">Business</option>
            <option value="kids">kids</option>
            <option value="thrillers">Thrillers</option>
        </select>
        </div>
    </div>

    <div class="navbar">
        <p [ngClass]="(navFlag)?'nav':'nav-title'" (click)="getallBooks()">{{allBooksTitle}}</p>
        <p [ngClass]="(navFlag)?'nav-title':'nav'" (click)="myBooks()">{{myBooksTitle}}</p>
        <p class="nav-title" (click)="addBook()">{{addBookName}}</p>
    </div>
    <div class="spinner-size" *ngIf="isLoading == true">
        <mat-spinner diameter=50></mat-spinner>
    </div>
    <div [ngClass]="(allbooks.length>2)?'all-books':'book-length'" *ngIf="navFlag == true && isLoading == false">
        <div class="total-books" *ngIf="allbooks.length !== 0">
            <div *ngFor="let book of allbooks" class="each-book">
                <img class="book-img" src={{book.bookImg}}>
                <p class="book-name">{{book.bookname}}</p>
                <div class="button-section">
                    <button class="read button" id={{book._id}} (click)="read($event)">{{readButtonname}}</button>
                </div>
            </div>
        </div>
        <div class="empty-list" *ngIf="allbooks.length === 0">
            <h1>{{emprtListName}}</h1>
        </div>
    </div>
    <div class="my-books" [ngClass]="(userTotalBooks.length>2)?'my-books':'book-length'" *ngIf="navFlag == false && isLoading == false">
        <div class="total-books" *ngIf="userTotalBooks.length !== 0">
            <div *ngFor="let book of userTotalBooks" class="each-book">
                <img class="book-img" src={{book.bookImg}}>
                <p class="book-name">{{book.bookname}}</p>
                <div class="button-section">
                    <button class="read button" id={{book._id}} (click)="read($event)">{{readButtonname}}</button>
                    <button class="update button" id={{book._id}} (click)="update($event)">{{updateButtonName}}</button>
                    <button class="delete-book button" id={{book._id}} (click)="delete($event)">{{deleteButtonname}}</button>
                </div>
            </div>
        </div>
        <div class="empty-list" *ngIf="userTotalBooks.length === 0">
            <h1>{{emprtListName}}</h1>
        </div>

    </div>
    <div class="footer" *ngIf="isLoading == false">
        <share-buttons theme="circles-dark" [include]="[ 'facebook', 'email','linkedin','twitter', 'whatsapp']" [showIcon]="true" [showText]="true" url="www.google.com" description="Open book Library" twitterAccount="rodrigokamada" class="pt-5">
        </share-buttons>
    </div>
</div>