.admin-dashboard {
    background-color:white;
    width: 100vw;
    display: flex;
    flex-direction: column;
   align-items: center;
}

.header-section {
    border-radius: 5px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-top: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
}
.logout:hover {
cursor: pointer;
color:black;
font-size: 24px;
}
.home:hover {
    cursor: pointer;
    color:black;
    font-size: 16px;
    }
.home {
    margin-left: 3rem;
}
.logout {
    margin-right:20px;
}
.profile {
    margin-bottom: 10px;
    margin-right: 3rem;
    background-color: #F4828B;
}
.navbar {
    display: flex;
    margin-top: 30px;
    width: 60%;
    justify-content: space-around;
    padding-bottom: 0px;
    background-color: #828bf4;
    color: rgb(5, 59, 146);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.nav-title {
    font-size: 16px;
    width:300px;
    text-align: center;
    color: #fff;
}
.nav-title:hover {
    cursor: pointer;
    font-size: 24px;
    color:#fff;
    transition: all 400ms linear;
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: linear;
    transition-delay: 0s;
}
.books-dashboard {
    margin-top:30px;
    width:60%;
    display:flex;
    flex-direction: column;
    padding-top:20px;
    border-radius: 20px;
}
.requests-section {
    margin-top:30px;
    width:60%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:2%;
    padding-bottom: 2%;
    border-radius: 20px;
    height: 100vh;
}
.title {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(25, 25, 214);
    font-style: oblique;
}

.spinner-size {
    margin-top:5%;
    height:100vh;
}

.total-books {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   flex-wrap: wrap;
}
.each-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
    width:250px;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
    padding-bottom: 20px;

}
.each-book:hover {
    transform: scale(1.1);
    height: auto;  
    cursor: pointer; 
    transition: all 400ms linear;
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: linear;
    transition-delay: 0s;
}
.book-img {
width: 100%;
height:200px;
border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.book-name{
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 24px;
    text-align: center;
    
}
.button-section {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top:2%;
}
.read {
    background-color:#828BF4;
  
}

.update {
    background-color:#00bba7;
 
}
.delete-book {
    background-color:#FF3F4A;
   
}
.button {
    width: 60px;
    height: 30px;
    border:none;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
    
    
}
.button:hover {
    cursor: pointer;
}
.each-request {
    display: flex;
    border-top:1px solid black;
    justify-content: space-around;
    padding-top:10px;
}
.all-requests {
    width: 100%;
}
.buttons {
    width:100%;
    margin-top:3%;
    display: flex;
    justify-content: space-between;
    
}
.accept {
    margin:10px;
    width:100px;
    height: 30px;
    border-radius: 5px;
    border:0px;
    background-color:#828BF4;
    color:#fff;


}
.accept:hover {
cursor: pointer;
}
.delete:hover {
    cursor: pointer;
    }
.delete {
    margin:10px;
    width:100px;
    height: 30px;
    border-radius: 5px;
    border:0px;
    background-color:rgb(235, 44, 37);
    color:#fff;
}
.checkbox{
    width:10%;
}
.request-name {
    width:60%;
    font-size: 16px;
    font-style: italic;
}
.request-status {
    width:20%;
    font-size: 16px;
    font-style: italic;
}
.add-button-section {
    margin-top:2%;
    align-self: flex-end;
    margin-right: 15%;
    

}
.add-button {
    width:100px;
    height: 40px;
    border:0px;
    border-radius: 5px;
    background-color: rgba(37, 99, 235);
    color: #fff;

}
.add-button:hover {
    cursor: pointer;
}
.empty-list {
    font-size:24px;
    text-align: center;
    color:rgb(139, 25, 25);
    height:64vh;
}
.select {
    width:50%;
    height:40px;
    border-radius: 5px;
    border:1px solid rgb(87, 78, 78);
    margin-left: 20px;
}
.select:hover {
    cursor: pointer;
}
.search-section {
    width:80%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
.search {
    height:30px;
    width:60%;
    height: 100%;
    margin-left: 10px;
    border-radius: 10px;
    border:1px solid rgb(87, 78, 78);
}
.search:hover {
    cursor: pointer;
}
.filter-section {
    display: flex;
    width:50%;
    align-items: center;
    display: flex;
    justify-content: end;
}
.search-sec {
    width:50%;
    height:40px;
    display: flex;
    align-items: center;
}
.search-title {
    color:rgb(68, 99, 128);
    font-size: 16px;
    
}
.filter-title {
    color:rgb(68, 99, 128);
    font-size: 16px;
}
.nav {
    font-size: 16px;
    width: 300px;
    text-align: center;
    color:black;
    text-decoration: underline;
}

