<div class="admin-dashboard">
    <div class="header-section ">
        <p class="header-titles home" (click)="home()">Book Library</p>

        <button class="profile" mat-fab color="primary" [matMenuTriggerFor]="menu" aria-label="Example icon button with a delete icon">
           Admin
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              {{logoutName}}
            </button>
        </mat-menu>
    </div>
    <div class="search-section">
        <div class="search-sec">
        <span class="search-title">Search By</span>
        <input class="search" placeholder="search"  (keydown.enter)="onChangeSearch($event)" [(ngModel)]="search"/>
    </div>
    <div class="filter-section">
        <span class="filter-title">Filter By</span>
        <select class="select" (change)="typeOfBook()" [(ngModel)]="bookType">
            <option value="" [selected]="">All</option>
            <option value="tech">Technical</option>
            <option value="non-tech">Non-Technical</option>
            <option value="business">Business</option>
            <option value="kids">kids</option>
            <option value="thrillers">Thrillers</option>
        </select>
    </div>
</div>
    <div class="navbar">
        <h4 (click)="dashboard()" [ngClass]="(flag)?'nav':'nav-title'">{{allbooksTitle}}</h4>
        <h4 (click)="request()" [ngClass]="(flag)?'nav-title':'nav'">{{booksRequests}}</h4>
        <h4 class="nav-title" (click)="addBook()">{{addBookTitle}}</h4>
    </div>
    <div class="spinner-size" *ngIf="isLoading == true">
        <mat-spinner  diameter=50></mat-spinner>
    </div>
    <div *ngIf="flag == true && isLoading == false && allBooks.length !== 0" class="books-dashboard">
       <div  class="total-books" >
        <div *ngFor="let book of allBooks" class="each-book">
        <img class="book-img" src={{book.bookImg}}>
        <p class="book-name">{{book.bookname}}</p>
       <div class="button-section"> 
           <button class="read button" (click)="read($event)" id={{book._id}}>{{readButtonname}}</button>
           <button class="update button" (click)="updateBook($event)" id={{book._id}}>{{updateButtonName}}</button>
           <button class="delete-book button" (click)="deleteBook($event)" id={{book._id}}>{{deleteButtonname}}</button>
</div>
    </div>
</div>
    </div>
    <div  class="books-dashboard" *ngIf="allBooks.length == 0 && isLoading == false">
        <h1 class="empty-list">{{emptyName}}</h1>
    </div>

    <div *ngIf="flag == false && isLoading == false && allRequests.length!==0 " class="requests-section">
        <div *ngFor="let request of allRequests" class="all-requests">
            <div *ngIf='request.status == "inactive"' class="each-request">
            <input class="checkbox" type="checkbox" (change)="onchengeCheck($event)" id={{request._id}}>
            <p class="request-name">{{request.bookname}}</p>
            <p class="request-status">{{request.pdfLink}}</p>
            <p class="request-status">{{request.status}}</p>
        </div>
        </div>
        <div class="buttons">
            <button class="accept" [disabled]="!check" (click)="acceptRequest()" >{{accesptButtonName}}</button>
            <button class="delete" [disabled]="!check" (click)="deleteRequest()">{{rejectname}}</button>
        </div>
    </div>
    <div  class="requests-section" *ngIf="allRequests.length ===0 && isLoading == false && flag == false ">
        <h1 class="empty-list">{{emptyName}}
        </h1>
    </div>
    
   
</div>