.add-book-section {
    background-color: azure;
    height: 100vh;
    padding:20px;

}
.back-button {
    width:100px;
    height: 30px;
    background-color: rgb(140, 182, 206);
    text-align: center;
    border-radius: 40px;
    color: #fff;
    border:0px;
}
.back-button:hover {
    cursor: pointer;
}
.add-book {
    display: flex;
    flex-direction: column;
   align-items: center;
    height: 100%;
}

.title {
    font-size: 24px;
    color:rgb(36, 95, 163);
}
.form-section {
    width:300px;
    border:1px solid rgb(78, 71, 71);
    border-radius: 5px;;
    display: flex;
    flex-direction: column;
    padding:40px;
    
}
.book-name {
    font-size: 16px;
    color: rgb(87, 78, 78);
    margin:0px;
}
.pdf-name {
    font-size: 16px;
    color: rgb(87, 78, 78);
    margin:0px;
}
.book-type {
    font-size: 16px;
    color: rgb(87, 78, 78);
    margin:0px;
}
.input {
    width:100%;
    height:30px;
    border-radius: 5px;
    border:1px solid rgb(87, 78, 78);
    margin-top:10px;
    margin-bottom:10px;
}
.select {
    width:100%;
    height:30px;
    border-radius: 5px;
    border:1px solid rgb(87, 78, 78);
    margin-top:10px;
}
.button-section {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.update-button {
    width:100px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(41, 96, 160);
    color: #fff;
    border:0px;
    
}
.input-error {
  
    width:100%;
    height:30px;
    border-radius: 5px;
    border: 2px solid red;
    margin-top:10px;
}
.error-message {
margin:0px;
font-size: 8px;
color: red;
}
.spinner-size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}